body {
  margin: 0px;
  background-color: rgb(43, 13, 66);
}

.body {
  background-color: rgb(43, 13, 66);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(237, 237, 237);
  font-family: Trebuchet MS, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(237, 237, 237);
}

main {
  flex: 0 0 60%;
  padding: 5px 10px;
  z-index: 9;
}
