.rules-img {
  width: 80%;
  margin: 10px 0px 7px 7px;
  border-radius: 5px;
}
ul.rules li {
  margin-bottom: 7px;
  list-style: none;
}
.dop-rules {
  list-style: circle;
}
.dop-rules li {
  margin-bottom: 6px;
}
.rules-flex {
  display: flex;
  margin-top: 1px;
}
.rules-flex-text {
  margin-top: 1px;
}
