.main-hello {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 24px;
}
.main-hello h3 {
  margin: 0px;
  margin-bottom: 3px;
}
.main-text {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 24px;
}
